.dashboard-page {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .dashboard-page-sidebar {
    background-color: #ADA1EA;

    .dashboard-page-sidebar-header {
      background-color: #9B90C2;
      color: #ffffff;
      cursor: pointer;
      padding: 20px;
      transition: all 0.3s;

      h3 {
        text-align: center;
        margin: 0 auto;
      }

      .dashboard-page-sidebar-header-short {
        display: none;
      }
    }
  }

  .dashboard-page-content {
    background-color: #f9e9cd;
  }
}

@media (max-width: 768px) {
  .dashboard-page .dashboard-page-sidebar {
    .dashboard-page-sidebar-header {
      h3 {
        display: none;
      }

      .dashboard-page-sidebar-header-short {
        display: block;
      }
    }
  }
}
