.card-block {
  min-height: 500px;
  padding: 20px 15px;

  .card-block-item-wrapper {
    padding: 12px;

    .card-block-item {
      border-radius: 20px;

      .card-block-item-media {
        height: 140px;
      }
    }
  }
}
