$tooltip-color: #245973;
$footer-font-color: #cccccc;
$footer-font-hover-color: #ffffff;

body {
  background-color: #b3cab4;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;

  .main {
    display: flex;
    flex-direction: column;
    min-height: stretch;
    width: 100%;
  }
}

.bs-tooltip-bottom {
  .tooltip-inner {
    background-color: $tooltip-color;
  }
  .arrow::before {
    border-bottom-color: $tooltip-color;
  }
}

/* ---------------------------------------------------
  FOOTER
----------------------------------------------------- */
#footer {
  background-color: #263238;
  color: $footer-font-hover-color;
  min-height: 250px;
  padding: 10px 0px 25px;

  p {
    color: $footer-font-color;
    font-size: 13px;
    margin-bottom: 8px;
    padding-bottom: 0px;
  }

  a {
    color: $footer-font-color;

    &:hover {
      color: $footer-font-hover-color !important;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  .footer-quicklink {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;

    .footer-quicklink-block-h5 {
      margin-bottom: 20px;
      padding-top: 40px;
    }

    .quick-link-items {
      margin: 0px;

      font-size: 14px;
      padding: 0px 0px 10px;

      li {
        padding: 0px 0px 5px;
      }
    }
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;

    li {
      padding: 20px 0px 0px 20px;

      a {
        border: 1px solid $footer-font-color;
        padding: 8px;
        border-radius: 50%;
      }
    }
  }

  .footer-additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto 15px;

    li {
      .footer-additional-info-copyright {
        font-size: 16px;

        a {
          padding-left: 5px;
        }
      }
    }
  }
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
#dashboard-pagex {
  display: flex;
  align-items: stretch;
}

#sidebarx {
  min-width: 200px;
  max-width: 200px;
  background-color: #7386d5;
  color: #fff;
  transition: all 0.3s;

  .sidebar-header {
    padding: 20px;
    background: #6d7fcc;

    strong {
      display: none;
      font-size: 1.8em;
    }
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;

    &:hover {
      color: #7386d5;
      background: #fff;
      text-decoration: none;
    }
  }

  ul li {
    &i.active > a,
    a[aria-expanded='true'] {
      color: #fff;
      background: #6d7fcc;
    }

    a[data-toggle='collapse'] {
      position: relative;
    }

    a {
      padding: 10px;
      font-size: 1.1em;
      display: block;

      &:hover {
        color: #7386d5;
        background: #fff;
        text-decoration: none;
      }
    }
  }

  &.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;

    .sidebar-header {
      h3 {
        display: none;
      }

      strong {
        display: block;
      }
    }

    .dropdown-toggle::after {
      top: auto;
      right: 50%;
      transform: translateX(50%);
    }

    ul li a {
      text-align: center;
      font-size: 0.85em;
    }
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebarx {
    min-width: 80px;
    max-width: 80px;
    margin-left: -80px;

    &.active {
      margin-left: 0;
    }

    .sidebar-header {
      h3 {
        display: none;
      }

      strong {
        display: block;
      }
    }

    ul li a {
      padding: 20px 10px;
    }
  }

  #sidebarCollapse span {
    display: none;
  }
}
