$tooltip-color: #245973;
$footer-font-color: #cccccc;
$footer-font-hover-color: #ffffff;

body {
  background-color: #b3cab4;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;

  .main {
    display: flex;
    flex-direction: column;
    min-height: stretch;
    width: 100%;
  }
}

.bs-tooltip-bottom {
  .tooltip-inner {
    background-color: $tooltip-color;
  }
  .arrow::before {
    border-bottom-color: $tooltip-color;
  }
}

/* ---------------------------------------------------
  FOOTER
----------------------------------------------------- */
#footer {
  background-color: #263238;
  color: $footer-font-hover-color;
  min-height: 250px;
  padding: 10px 0px 25px;

  p {
    color: $footer-font-color;
    font-size: 13px;
    margin-bottom: 8px;
    padding-bottom: 0px;
  }

  a {
    color: $footer-font-color;

    &:hover {
      color: $footer-font-hover-color !important;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  .footer-quicklink {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;

    .footer-quicklink-block-h5 {
      margin-bottom: 20px;
      padding-top: 40px;
    }

    .quick-link-items {
      margin: 0px;

      font-size: 14px;
      padding: 0px 0px 10px;

      li {
        padding: 0px 0px 5px;
      }
    }
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;

    li {
      padding: 20px 0px 0px 20px;

      a {
        border: 1px solid $footer-font-color;
        padding: 8px;
        border-radius: 50%;
      }
    }
  }

  .footer-additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto 15px;

    li {
      .footer-additional-info-copyright {
        font-size: 16px;

        a {
          padding-left: 5px;
        }
      }
    }
  }
}
