body {
  background-color: #b3cab4;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;

  .main {
    display: flex;
    flex-direction: column;
    min-height: stretch;
    width: 100%;
  }
}
