.login-page {
  margin: 0;
  padding: 30px;
  min-height: calc(100vh - 468px);

  .login-page-title {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .login-page-form {
    background-color: rgba(255, 235, 205, 0.7);
    border-radius: 10px;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: fit-content;

    .login-page-form-tab-header {
      min-width: 560px;
    }

    .login-page-form-tab-content {
      margin: 10px;
      min-height: 285px;
      overflow: hidden;
      width: -webkit-fill-available;
    }

    .separator {
      display: flex;
      width: -webkit-fill-available;
      align-items: center;

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
      }
      &::before {
        margin-right: 0.25em;
      }
      &::after {
        margin-left: 0.25em;
      }
    }
  }
}
