#login-page {
  margin: 0;
  min-height: calc(100vh - 497px);

  h1 {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .fb-login-button,
  .abcRioButton {
    margin: 0 auto;
    text-align: center;
  }
}
