#single-studio-page {
  background-color: antiquewhite;
  min-height: calc(100vh - 497px);
  padding: 0;

  section {
    padding: 15px;

    th {
      & > p,
      svg {
        display: inline;
      }

      p::before {
        content: '\00a0 \00a0 ';
      }
    }
  }
}

.studio-info-contact .studio-info-description {
  width: 100%;
  overflow-y: auto;
}
